@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


:root {
  --font-titulo: "Freeman", sans-serif;
  --drop-shadow-padrao: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../SRC/assets/imagens/bgAbout.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.cabecalho {
  width: 100%;
  margin: 0 auto;
  /* padding-top: 20px; */
  display: flex;
  position: fixed;
  z-index: 3;
}

.cabecalhoConteudo {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linkLogo {
  text-decoration: none;
}

.cabecalhoLogo {
  font-family: var(--font-titulo);
  font-size: clamp(1rem, 0.7313rem + 1.194vw, 2rem);
  color: whitesmoke;
  filter: var(--drop-shadow-padrao)
}

.cabecalhoMenuLinks {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.cabecalhoMenuLinksLink {
  color: whitesmoke;
}

.cabecalhoMenuLinksLink a {
  text-decoration: none;
  font-family: var(--font-titulo);
  font-size: clamp(1rem, 0.7313rem + 1.194vw, 2rem);
  color: whitesmoke;
  filter: var(--drop-shadow-padrao);
}

.cabecalhoMenuLinksLink:hover {
  scale: 1.2;
  transition: all 300ms ease-in-out;
}

main {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* margin-top: 20px; */
}

.conteudo {
  width: 100%;
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
  gap: 50px
}


.imagemAbout {
  flex: 50%;
  width: 40%;
  min-width: 320px;
  height: auto;
  object-fit: cover;
}

.aboutTextos {
  flex: 50%;
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutTitulo {
  color: whitesmoke;
  font-family: var(--font-titulo);
  font-size: clamp(1rem, 0.7313rem + 1.194vw, 2rem);
}

.aboutTexto {
  width: 80%;
  color: whitesmoke;
  font-family: var(--font-titulo);
  font-size: clamp(0.75rem, 0.6828rem + 0.2985vw, 1rem);
  line-height: 1.5;
}

.rodaPe {
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  position: absolute;
  bottom: 20px;
}

.rodaPeConteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

}

.redesSociais {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 50%;
  min-width: 24px;
  max-width: 64px;
  filter: var(--drop-shadow-padrao);
}

.copy {
  font-family: var(--font-titulo);
  color: whitesmoke;
  filter: var(--drop-shadow-padrao);
  font-size: clamp(0.5rem, 0.3657rem + 0.597vw, 1rem);
}



@media (max-width: 980px) {

  .conteudo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* top: 20%; */
    position: relative;
  }

  .imagemAbout {
    z-index: 0;
    align-self: center;
    position: absolute;
    filter: opacity(0.4);
  }

  .aboutTextos {
    z-index: 1;
    text-align: center;
    align-items: center;
  }

  
}
