@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


:root {
  --font-titulo: "Freeman", sans-serif;
  --drop-shadow-padrao: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../SRC/assets/imagens/bgAbout.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.cabecalho {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  position: fixed;
  z-index: 3;
}

.cabecalhoConteudo {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linkLogo {
  text-decoration: none;
}

.cabecalhoLogo {
  font-family: var(--font-titulo);
  font-size: clamp(1rem, 0.7313rem + 1.194vw, 2rem);
  color: whitesmoke;
  filter: var(--drop-shadow-padrao)
}

.cabecalhoMenuLinks {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.cabecalhoMenuLinksLink {
  color: whitesmoke;
}

.cabecalhoMenuLinksLink a {
  text-decoration: none;
  font-family: var(--font-titulo);
  font-size: clamp(1rem, 0.7313rem + 1.194vw, 2rem);
  color: whitesmoke;
  filter: var(--drop-shadow-padrao);
}

.cabecalhoMenuLinksLink:hover {
  scale: 1.2;
  transition: all 300ms ease-in-out;
}


.principal {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContato {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contatoInput {
  width: 300px;
  height: 45px;
  border-radius: 30px;
  padding: 5px 10px;
  border: solid 5px #DBBC56;
  box-shadow: -10px 10px 0 0 #DBBC56;
  outline: none;
}

.contatoInput:focus {
  box-shadow: -5px 5px 0 0 #DBA866;
  border: solid 5px #DBA866;
}

.mensagem {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  padding: 5px 10px;
  border: solid 5px #DBBC56;
  box-shadow: -10px 10px 0 0 #DBBC56;
  outline: none;
}

.mensagem:focus {
  box-shadow: -5px 5px 0 0 #DBA866;
  border: solid 5px #DBA866;
}

.buttonForm {
  width: 150px;
  height: 45px;
  align-self: flex-end;
  margin-right: 20px;
  background-color: #DBBC56;
  border: solid 5px #DBA866;
  border-radius: 30px;
  font-family: var(--font-titulo);
  font-size: 16px;
  color: whitesmoke;
  box-shadow: inset 5px 5px 5px #DBA866;
}

.buttonForm:hover {
  cursor: pointer;
  scale: 0.9;
  border: none;
  box-shadow: none;
  transition: all 300ms ease-in-out;
}

.rodaPe {
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  position: absolute;
  bottom: 20px;
}

.rodaPeConteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

}

.redesSociais {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 50%;
  min-width: 24px;
  max-width: 64px;
  filter: var(--drop-shadow-padrao);
}

.copy {
  font-family: var(--font-titulo);
  color: whitesmoke;
  filter: var(--drop-shadow-padrao);
  font-size: clamp(0.5rem, 0.3657rem + 0.597vw, 1rem);
}

@media (max-width: 980px) {
  .mouseIcon {
    display: none;
  }
}